
.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}


.traffic-light{
    background-color: rgb(12, 11, 4);
    margin: 10px;
 
}

.red{
    background-color: red;
  
    margin: 8px;
}
.yellow{
    background-color: yellow;
   
    margin: 8px;
}
.green{
    background-color: green;
  
    margin: 8px;
}
.glow{
    box-shadow: 0px 0px 9px 4px rgb(245, 245, 247);
   
}
